{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="https://use.typekit.net/eyd3oer.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css" />
    </head>
    <body>
        <header>
            <h1>My Travels</h1>
        </header>

        {% block content %} {% endblock %}
        <footer>
            <p><a href="{% url 'place_list' %}">Wishlist</a> and <a href="{% url 'places_visited' %}">Checklist</a> built with Django.</p>
        </footer>
    </body>
</html>
