{% extends 'travel_wishlist/base.html' %} {% block content %}
<nav>
    <mark><u>Where I've been</u><br /><span class="arrow">&searr; </span></mark>
    <a href="{% url 'place_list' %}">
        Where I want to go
        <span class="arrow">&rarr;</span>
    </a>
</nav>
{% if visited %}
<div class="places-wrapper">
    <ul>
        {% for place in visited %}
        <span class="place-name"><li>&nbsp;{{ place.name }}</li></span>

        {% endfor %}
    </ul>
</div>

{% else %}
<p>No places visited (yet)</p>

{% endif %} {% endblock %}
