{% extends 'travel_wishlist/base.html' %} {% block content %}

<nav>
    <mark>
        <u>Where I want to go</u><br />
        <span class="arrow">&searr;</span>
    </mark>
    <a href="{% url 'places_visited' %}"
        >Where I've been
        <span class="arrow">&rarr;</span>
    </a>
</nav>

<div class="places-wrapper">
    <form class="wishlist-form" method="POST" action="{% url 'place_list' %}">
        {% csrf_token %} {{ new_place_form }}
        <div><button id="add-new-place" class="add-btn" type="submit">Add</button></div>
    </form>
    {% for place in places %}
    <div class="place-name">
        <span id="place-name-{{ place.pk }}"> {{ place.name }}</span>
        <form method="POST" action="{% url 'place_was_visited' place.pk %}">
            {% csrf_token %}
            <button id="visited-button-{{ place.pk }}" class="visited-btn"></button>
        </form>
    </div>

    {% empty %}
    <p>Wishlist is empty.</p>
    2 {% endfor %}
</div>
{% endblock %}
