{% extends 'travel_wishlist/base.html' %} {% block content %}
<nav>
    <mark>Where I want to go</mark>
    <a href="{% url 'places_visited' %}">Where I've been</a>
</nav>

<form method="POST" action="{% url 'place_list' %}">
    {% csrf_token %} {{ new_place_form }}
    <div><button class="add-btn" type="submit">Add</button></div>
</form>

<div class="places-wrapper">
    {% for place in places %}
    <div class="place">
        {{ place.name }}
        <form method="POST" action="{% url 'place_was_visited' place.pk %}">
            {% csrf_token %}
            <button class="visited-btn"></button>
        </form>
    </div>

    {% empty %}
    <p>Wishlist is empty.</p>
    2 {% endfor %}
</div>
{% endblock %}
