/* html,
nav,
header,
body {
    background-color: ghostwhite;
}

body {
    padding: 0;
    height: 100%;
    font-family: campaign, sans-serif;
}

header {
    height: 5vh;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

a {
    color: unset;
}

nav u {
    text-decoration: underline #00ffb3 solid 6px;
    background-color: #48d1cd43;
}

p,
a,
u {
    text-underline-position: under;
    text-decoration-skip-ink: none;
}

a:hover {
    text-decoration: unset;
    text-transform: uppercase;
}

.arrow {
    font-size: 50px;
    color: #00ffb3;
}
mark {
    background-color: #f5deb300;
    text-align: center;
}

.wishlist-form {
    display: flex;
    padding: 3rem 0 2rem 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

label {
    margin: 0 0.5rem;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    text-transform: lowercase;
    line-height: 1;
    border: 1px solid black;
}

.add-btn {
    background-color: #7fffd463;
    color: green;
    border: 3px solid mediumseagreen;
    max-width: 300px;
    margin: 0 1rem;
}

.add-btn:hover {
    font-weight: bold;
}

.places-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: gainsboro;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
}

.place-name {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.visited-btn {
    padding: 0.5rem;
    width: 130px;
}

.visited-btn:after {
    content: 'Not visited';
}
.visited-btn:hover:after {
    content: 'Have visited';
}

ul {
    list-style-type: '✈';
    display: flex;
    flex-wrap: wrap;
}
li {
    margin: 1rem;
}

li:hover {
    font-style: italic;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: ghostwhite;
    text-align: center;
}

footer p {
    text-indent: 0.5rem;
}
footer a {
    color: darkgreen;
    background-color: #7fffd463;
} */
